
.parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
  }
  
  header {
    padding: 3rem;
    grid-column: 1 / 4;
    background-color: grey;
    text-align: left;
  }
nav {
  background-color: black;
  padding: 1rem;
  display:flex;
  justify-content: space-around;
}
nav a{
    color:white;
    padding: 0.5rem;
   
}

  
  main {
    grid-column: 2 / 3;
    background-color: #cccc;
    padding: 200px;
    text-align:left;
  }
  
.right-side {
    grid-column: 3 / 4;
    padding: 110px;
    text-align:left;
  }
  
footer {
    grid-column: 1 / 4;
    background-color: grey;
    padding: 30px;
    text-align: center;
  }
  /*p {
    margin: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0.75rem;
    background-color: #eee;
  }
  
  .highlight {
    color: navy;
    font-weight: 700;
    font-family: hebrew;
  }
          