
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cuprum:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --primary-color:Blue;
    --secondary-color:purple;
    
    
    --heading-font:'45px', Anton;
    --paragrah-font:'27px',Cuprum;
    }
nav{
    display: block;
    background-color: var(--secondary-color);
}
header{
    padding: 2rem;
    grid-column: 1 / 4;
    background-color: var(--primary-color);
    text-align: center;
}
main{
    background-image: url('images/hero-large.jpg');
}
.up{
    float: left;
}
.down{
   float:right;
}
footer {
    grid-column: 1 / 4;
    background-color:var(--primary-color);
    padding: 20px;
    text-align: center;
  }